In [4]:
#F string
age=15
print(f' 1. you have {age} years')  #intori minevisim be jaye payini
print("2.you have",age ,"years")

 1. you have 15 years
2.you have 15 years

In [5]:
#lesson is For

In [6]:
num=[1,2,3,4,5]
for x in num:
    print(x*2)

2
4
6
8
10

In [7]:
num=[1,2,3,4,5]
num2=[]
for x in num:
    num2.append(x*2)
print(num2)

[2, 4, 6, 8, 10]

In [8]:
num3=[]
num4=[]
i=102
while i<=200 :
    num3.append(i)
    i+=6
for n in num3:
    num4.append(n*2)
print(num4)

[204, 216, 228, 240, 252, 264, 276, 288, 300, 312, 324, 336, 348, 360, 372, 384, 396]

In [9]:
name=['sanam','sara','leyli','bahare','sanaz','nazli']
for c in name:
    print(c.capitalize())

Sanam
Sara
Leyli
Bahare
Sanaz
Nazli

In [13]:
name=['sanam','sara','leyli','bahare','sanaz','nazli']
name2=[]
for c in name:
    print(c.capitalize())
for c in name:
    c.capitalize()
    name2.append(c)
print(name2)

Sanam
Sara
Leyli
Bahare
Sanaz
Nazli
['sanam', 'sara', 'leyli', 'bahare', 'sanaz', 'nazli']

In [ ]:
i=1
li1=[]
li2=[]
li3=[]
while i<=100:
    li1.append(i)
    i+=1
for x in li1: